# Xilinx ISE
iseconfig
xst
_ngo
xlnx_auto*
isim
netgen

*.jhd
*.schlog
*.lso
*.syr
*.ngc
*.ngr
*.xrpt
*.xst
*.stx
*.prj
*.gise
*.cmd_log

*_summary.xml
*_usage.xml
*webtalk_impact.xml
*webtalk_pn.xml
*webtalk_power.xml

*.xmsgs
*.bld
*.par
*.pad
*.ncd
*.ngd
*.ngm
*.pcf
*.unroutes
*.bld
*.twx
*.ptwx
*.twr
*.xpi
*.map
*.mrp
*.csv
*_pad.txt
*_envsettings.html
*.exe
*.log
*.log.bak
*.wdb
*.cmd
*.ini
*.html
*.bit
*.bin
*.bgn
*.drc
*_bitgen.xwbt
*.ut
*.tcl
*.xdl
*.lst
*.srp
*.rbt
